.main-container {
  margin-top: 60px;
  position: relative;
  height: calc(100vh - 60px);
  background-color: #b1b8ce; /* Light gray background */
  padding: 20px; /* Adds some spacing */
}

/* .comment-icon-container {
  position: relative;
  display: inline-block;
} */

/* .comment-icon-container .comment-counter {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 10px;
  font-weight: bold;
} */

/* Adjusted styles for smaller headings */
.dashboard-title {
  font-size: 1.5rem; /* Smaller size for "Student's Dashboard" */
  font-weight: 600;
  color: #0d0d0d;
  margin-bottom: 10px;
}

.assigned-classrooms-title {
  font-size: 1.25rem; /* Smaller size for "Assigned Classrooms" */
  font-weight: 500;
  color: #070707;
  margin-bottom: 8px;
}

/* Adjust Classroom heading size */
.classroom-heading {
  font-size: 1.5rem; /* Adjust size as needed */
  font-weight: bold;
}

/* Adjust Project heading size */
.project-heading {
  font-size: 1.25rem; /* Adjust size as needed */
  font-weight: 600;
}


.commentsTitle {
  padding: 0px;
  margin: 0px;
}

.historyTitle {
  padding: 0px;
  margin: 0px;
}

.panelContainerWrapper {
  position: fixed;
  right: 10px;
  /* top: 10px; */
  z-index: 1000;
}

.panelContainer {
  /* position: fixed; */
  right: 10px;
  width: 250px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  padding-bottom: 35px;
}

.toggle-collapse-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #ccc;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.toggle-expand-button {
  right: 10px;
  top: 10px;
  color: #bbb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  pointer-events: all;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: 12px;
}

.toggle-collapse-button:hover,
.toggle-expand-button:hover {
  /* background-color: #0056b3; */
  color: #999;
}

.toggle-expand-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
  height: 40px;
  padding: 8px 12px;
  background-color: #eee;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  gap: 8px;
}
.panel-label {
  font-size: 12px;
  color: #333333;
}

.toggleButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.toggle-button {
  flex: 1;
  padding: 8px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 2px;
}

.active-button {
  flex: 1;
  padding: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 2px;
}

.commentBox {
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1000;
  width: 280px;
  font-family: Arial, sans-serif;
  color: #333;
}

.commentsViewBox {
  position: absolute;
  top: 150px;
  left: 100px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1000;
  width: 300px;
  font-family: Arial, sans-serif;
  color: #333;
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 18px;
  color: #999;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

.closeButton:hover {
  color: #333;
}

.commentsViewTitle {
  font-size: 18px;
  font-weight: 600;
  color: #444;
  margin-bottom: 10px;
}

.commentsList,
.historyList {
  list-style-type: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

.commentItem,
.historyItem {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  margin-bottom: 5px;
}

.timestamp {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}

.commentBoxTitle {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #444;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}

.input,
.textarea {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  outline: none;
  transition: border-color 0.2s;
}

.input:focus,
.textarea:focus {
  border-color: #66afe9;
}

.textarea {
  height: 60px;
  resize: none;
}

.button,
.clearButton {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 10px;
}

.button {
  background-color: #4caf50;
}

.button:hover {
  background-color: #45a049;
}

.clearButton {
  background-color: #d9534f;
}

.clearButton:hover {
  background-color: #c9302c;
}

.historyPanel,
.commentsPanel {
  max-height: 300px;
  overflow-y: auto;
}

/* Custom CSS for Tldraw Menu Items */
.menu-item-like {
  font-size: 20px;
  font-weight: bold;
  color: darkblue;
}

.menu-item-comment {
  font-size: 20px;
  font-weight: bold;
  color: darkgreen;
}

.tlui-people-menu__avatar {
  display: none;
}

.tlui-style-panel {
  position: fixed;
}

.tl-watermark_SEE-LICENSE {
  position: relative;
}

.tlui-style-panel {
  position: relative;
  top: 72%;
}